// ==========================================
// COLOR VARIABLES
// ===========================

// PRIMARY COLORS
$clr-cyan-primary: hsl(158, 36%, 37%);
$clr-cream-primary: hsl(30, 38%, 92%);

// NEUTRAL COLORS
$clr-dark-blue: hsl(212, 21%, 14%);
$clr-dark-grayish-blue: hsl(228, 12%, 48%);
$clr-white: hsl(0, 0%, 100%);

// =========
// FONTS
// ============
$text-normal: "Montserrat";
$text-accent: "Fraunces";

$font-normal: "500";
$font-bold: "700";

// ========
// SIZES
// =======
$mobile: 375px;
$desktop: 1440px;

* {
  font-size: 14px;
}

body {
  background-color: $clr-cream-primary;
}
main {
  display: flex;
  background-color: $clr-white;
  margin-top: 15vh;
  margin-left: 20vw;
  width: 50vw;
  height: fit-content;
  border-radius: 2%;
  z-index: 1;
  box-shadow: 2px 4px #9e9e9e;
  font-family: $text-normal;
  justify-content: space-around;
  //   font-weight: $font-normal;
  h1 {
    font-family: $text-accent;
    font-weight: $font-bold;
    font-size: xx-large;
  }
  .light-heading {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
  }

  picture {
    width: 50%;
    min-height:60vh;
    max-height: 70vh;
    flex-shrink: 0;
  }
  img {
    height: 100%;
    width: 100%;
    border-radius: 2% 0 0 2%;
  }
  .price-div {
    // line-height: 100%;
    // vertical-align: middle;
    .price {
      color: $clr-cyan-primary;
      display: inline-block;

      margin-right: 1rem;
    }
    .old-price {
      text-decoration: line-through;

      position: relative;
      top: -0.5rem;
    }
  }
  .cart {
    color: $clr-white;
    background-color: $clr-cyan-primary;
    // height: 5rem;
    border-radius: 0.5rem;
    // margin-top: 5rem;
    // margin-bottom: 5rem;

    .icon-cart{
      // background-image: url("/images/icon-cart.svg");
      // background-color: $clr-white;
      // display: inline;
      width: 2rem;;
      img{
        // display: inline-block
        height: 1.25rem;
        display: inline;
        width: 2rem;
        margin-right: 0.75rem;
      }
    }

    h2 {
      font-size: large;
      text-align: center;
      display: inline-block;
      width: 100%;
    }
  }
  .text-content {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}



@media screen {
    
}